﻿@model Application.Models.ShoppingList

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>ShoppingList</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ShoppingListName" class="control-label"></label>
                <input asp-for="ShoppingListName" class="form-control" />
                <span asp-validation-for="ShoppingListName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShoppingListArticles" class="control-label"></label>
                <textarea asp-for="ShoppingListArticles" class="form-control" rows="8"></textarea>
                <span asp-validation-for="ShoppingListArticles" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ListReserved" class="control-label"></label>
                <input asp-for="ListReserved" class="form-control" />
                <span asp-validation-for="ListReserved" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
