﻿@model Application.Models.ShoppingList

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>ShoppingList</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShoppingListName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShoppingListName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShoppingListArticles)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShoppingListArticles)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ListReserved)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ListReserved)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateCreated)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateCreated)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
